@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Smart thinking Farrukhabad<br />
        Redmond, WA 7599965370<br />
        <abbr title="Phone">P:</abbr>
        7599965370
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">shivampal7846@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">shivampal7846@gmail.com</a>
    </address>
</main>